* {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

body {
    background: rgb(53, 50, 119);
}

button {
    border: none;
    background-color: #707070;
    color: #eee;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 6px;
    filter: drop-shadow(3px 5px 0px);   
    cursor: pointer;
}
button:hover {
    color: black;
    background-color: #eee;
    filter: drop-shadow(3px 7px 3px);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.atividadehoje {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 600px) {
    .atividadehoje {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
}

.atividadeontem {
    background-color: cornflowerblue;
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input {
    border-radius: 1rem;
    border: none;
    font-size: 19px;
}

.area_circular {
    justify-content: center;
    background-color: #dc3565;
    border-radius: 2rem;
    filter: drop-shadow(1px 2px 5px);
}
.area_circular h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.valor_hipotenusa {
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
    filter: drop-shadow(1px 2px 5px);
}
.valor_hipotenusa h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.converter_dolar {
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
    filter: drop-shadow(1px 2px 5px);
}
.converter_dolar h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.temperatura {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}
.temperatura h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.mediaalunos {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}
.mediaalunos h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.baskara {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}

.baskara h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.velocidade {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}

.velocidade h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}
.area_retangulo {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}

.area_retangulo h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}
.area_triangulo {
    filter: drop-shadow(1px 2px 5px);
    justify-content: center;
    display: block;
    background-color: #dc3565;
    border-radius: 2rem;
}

.area_triangulo h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #791c3696;
    border-radius: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.resultados {
    font-size: 35px;
    color: #eee;
}